# node modules
node_modules

# Log files
*.log

# Meta files
TODOs.md

# VuePress temp directory
.temp

# Docs dist directory
docs/.vuepress/dist

# Typescript build dist
packages/@vuepress/shared-utils/lib/
packages/@vuepress/shared-utils/types/
